.study-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
  }
  
  .note-card {
    background-color: #d8e8fc;
    border: 1px solid #abc3e1
    ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
    
  }
  
  .note-card-content {
    display: flex;
    flex-direction: row;
  }
  
  .card-content-container {
    width: 100%; /* Ensure the content container takes full width */
  }
  
  .question-card,
  .answer-card {
    width: 50%;
    padding: 10px;
  }
  
  .answer-card {
    border-left: 1px solid #abc3e1
    ;
  }
  
  /* Optionally adjust the input fields within the edit mode */
  .note-card-content input[type="text"] {
    width: calc(100% - 20px); /* Adjust input width to fit container */
    margin-bottom: 10px;
  }
  