.study-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px; /* Adjust the max-width as needed */
}

.note-card {
  background-color: #fff6bd;
  border: 1px solid #ffe95b;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.show-answer-button button {
  margin-right: 10px;
}
